{# src/Demo/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "DemoPlatformBundle::layout.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block demoplatform_bodyContent %}
  <h3>Liste des annonces</h3>
  <ul>
      {% for advert in listAdverts %}
        <li>
            <a href="{{ path('demo_platform_view', {'id' : advert.id}) }}">{{ advert.title }}</a>
            par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}
        </li>
      {% else %}
          <li>Pas (encore !) d'annonces !</li>
      {% endfor %}
  </ul>
{% endblock %}